[Unit]
Description=Verifica a cada 5 minutos se ha imagem nova do portfolio

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
